### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### Sass ###
.sass-cache/
*.css.map


### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/